WorkingDirectory
toolkit/Ladiks MPQ Editor/mpqeditor_en_v3.6.0.868/x64WorkDir
toolkit/Ladiks MPQ Editor/x64/WorkDir/*
toolkit/Ladiks MPQ Editor/x64/WorkDir
toolkit/W3x2Lni v2.7.2/w3x2lni_enUS_v2.7.2/log